.headerText {
  margin: 0;
  background: linear-gradient(90.16deg, #094668 0%, #0b72ab 100%);
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}
