.mainContainer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
  min-height: 1000px;
}

.welcomeText {
  margin-top: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 58px;
  text-transform: uppercase;

  color: #000000;
}

.infoText {
  margin: 0;
}
