.footer {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  height: 70px;
  color: #70b3d9;
  background: linear-gradient(90.16deg, #094668 0%, #0b72ab 100%);
  box-shadow: 0px -8px 30px rgba(39, 11, 85, 0.46);
}

.footerContainer {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mainTextFooter {
  margin: 0;
  text-align: center;
  align-items: center;
  padding-top: 20px;
}

.sticks {
  content: url('../../../images/sticks-bottom.png');
  width: 90px;
  position: absolute;
  left: 0;
  top: 10px;
}

@media screen and (max-width: 580px) {
  .footer {
    height: 50px;
  }
  .footerContainer {
    width: 400px;
  }

  .sticks {
    width: 60px;
  }

  .mainTextFooter {
    padding: 10px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  .footerContainer {
    width: 500px;
  }

  .sticks {
    width: 90px;
  }
}

@media screen and (max-width: 400px) {
  .footerContainer {
    width: 320px;
  }

  .mainTextFooter {
    padding: 10px;
    font-size: 8px;
  }

  .sticks {
    left: -15px;
    top: 8px;
  }
}
