.tableItem {
  color: #4898c7;
  font-weight: 400;
  font-size: 12px;
  background-color: #fff;
  z-index: 1;
}

.tableItemName {
  color: #4898c7;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  padding-left: 15px;
}

th,
td {
  border: #6dcbff 1px solid;
}

.firstItem {
  color: #094669;
  font-size: 12px;
}

.firstItemName {
  color: #094669;
  font-size: 12px;
  text-align: left;
  padding-left: 15px;
}

.firstItemName::after {
  content: url('../../../images/Vector.svg');
  margin-left: 5px;
  align-items: center;
}

.sticks {
  width: 12px;
  height: 12px;
}
