.tableItem {
  color: #4898c7;
  font-weight: 400;
  font-size: 12px;
  background-color: #fff;
  z-index: 1;
  border-left: none;
  border-top: none;
  width: 70px;
}

.tableItemName {
  color: #4898c7;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  border-right: none;
  border-top: none;
}

th,
td {
  border: #6dcbff 1px solid;
}

.namePlayerTd {
  border-top: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.firstItem {
  color: #094669;
  font-size: 12px;
  border-top: none;
  border-left: none;
}

.firstItemName {
  color: #094669;
  font-size: 12px;
  text-align: left;
  border-top: none;
  border-right: none;
}

.firstItemName::after {
  content: url('../../../images/Vector.svg');
  margin-left: 5px;
  align-items: center;
}

.sticks {
  width: 12px;
  height: 12px;
}

.lastGamesList {
  margin: 0;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.lastGamesListBorder {
  border-top: none;
}

.win {
  content: url('../../../images/win.svg');
  width: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.lose {
  content: url('../../../images/lose.svg');
  width: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.photo {
  border-radius: 50%;
  width: 25px;
  margin-left: 10px;
}